/* Post Generator */

.control-panel {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 35%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #676683;
  background-color: white;
  padding: 30px;
}
.main-content {
  width: 100%;
  display: flex;
  overflow-x: visible;
  justify-content: space-around;
}
.preview {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 2%;
  position: relative;
  height: 100%;
}
input[type="file"] {
  border: 1px solid rgba(0, 0, 0, 0.225);
  padding: 5px;
  width: 80%;
}
input[type="number"],
input[type="text"] {
  border-radius: 3px;
  margin: 10px;
  width: 80%;
  text-align-last: center;
  outline: none;
  padding: 5px;
}
input[type="button"] {
  background-color: #0275d8;
  color: white;
  outline: none;
  margin-bottom: 10px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.3s ease;
}
input[type="color"] {
  border-radius: 5px;
  padding: 2px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}
input[type="button"]:hover {
  background: black;
  transition: all 0.3s ease;
}
.field_vals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}
.illustration img {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.file_up {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file_sec {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}
.close {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.close:hover{
  color: white !important;
  background: black;
}

.download {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download select {
  width: 60%;
  padding: 10px;
  height: 40px;
}
.imageAndDownload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview {
    width: 100%;
  }
  .control-panel {
    width: 80%;
  }

  #preview-image {
    width: 100%;
    height: 100%;
  }

}


.react-resizable {
  position: relative;
  width: 100%;
  height: 100%;
}
.react-resizable-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  color: white;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}


.App {
  text-align: center;
}
.header .container {
  justify-content: center;
}
.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



