body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
}
:root{
  --green: green; 
  --black: #444; 
  --light-color: #777; 
  --box-shadow:.5rem .5rem 0 rgba(122, 255, 191, 0.2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border: .2rem solid var(--green);
}

.app {
  margin:auto;
  width: 80%;
  height: 50vh;
  margin-bottom: 4rem;
  margin-top: 4rem;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}



/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quizbtn {
  width: 100%;
  height: 10vh;
  font-size: 16px;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* Home Section starts */
.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.home .image{
  flex: 1 1 30rem;
}
.home .image img{
  width: 100%;
}
.home .content{
  flex: 1 1 40rem;
}

/* Service section Starts */
.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
  margin: 30px;
}
.services .box-container .box{
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 20px;
}
.services .box-container .box i{
  color: var(--green);
  font-size: 5rem;
  padding-bottom: .5rem;
}
.services .box-container .box h3{
  color: var(--black);
  font-size: 2rem;
  
}
.services .box-container .box p{
  color: var(--light-color);
  font-size: 1rem;
  line-height: 1;
}
/* Service section End */
